# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Saved model
inception_v3_weights_tf_dim_ordering_tf_kernels_notop.h5
